{% extends "base.html" %}

{% block head %}
<script>
    const searchForItem = () =>{
        const searchInputValue = document.getElementById("search_item").value;
        window.location.href = `/${searchInputValue}`;
    }
</script>

{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div class="flex my-7 gap-9">
        <input id="search_item" type="text" placeholder="Опишите товар для поиска" class="text-lg">
        <button onclick="searchForItem()" class="border-2 rounded-3xl bg-gray-300 p-3">Поиск товара</button>
    </div>
</div>
{% endblock %}